<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Kakidame</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Kakidame（書溜）</a>
          <a class="brand" href="<%= Dir.pwd %>"><%= Dir.pwd %></a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well">
            <ul class="nav nav-list">
              <li class="nav-header">Markdown file</li>
              <% @files.each do |file| %>
              <% if file[:file_name] == @current_file %>
              <li class="active"><a href="<%= file[:file_name] %>"><%= file[:title] %></a></li>
              <% else %>
              <li><a href="<%= file[:file_name] %>"><%= file[:title] %></a></li>
              <% end %>
              <% end %>
              <li class="nav-header">Directory</li>
              <% if @is_child %>
              <li><a href="..">../</a></li>
              <% end %>
              <% @dirs.each do |dir| %>
              <li><a href="<%= dir %>"><%= dir %></a></li>
              <% end %>
            </ul>
          </div>

          <% if @info %>
          <div class="well">
            <ul class="nav nav-list">
              <li class="nav-header">File name</li>
              <li><%= @info[:name] %></li>
              <li class="nav-header">Last modified</li>
              <li><%= @info[:modified_at] %></li>
            </ul>
          </div>
          <% end %>
        </div>
        <div class="span9">
          <%= yield %>
        </div>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
